<template>
    <v-container fluid style="height: 100%">
        <v-row class="d-flex justify-center align-top fill-height">
            <v-col cols="3" v-if="threads !== null">
                <v-card class="h-100" height="100%">

                    <v-list shaped height="93%">
                        <v-subheader>لیست گفت و گو ها</v-subheader>
                        <v-list-item v-for="(item, i) in threads" :key="i" @click="fetchMessages(item)">
                            <v-list-item-content>
                                <v-list-item-title v-text="item.target_name"/>
                            </v-list-item-content>
                            <v-list-item-icon>
                                <v-icon>{{ item.target_type === "user" ? 'mdi-account' : 'mdi-account-group' }}</v-icon>
                            </v-list-item-icon>
                        </v-list-item>
                    </v-list>

                    <v-divider/>
                    <v-card-actions>
                        <v-btn icon @click="toggleNightMode">
                            <v-icon>{{ $vuetify.theme.dark === true ? 'mdi-weather-sunny' : 'mdi-weather-night' }}
                            </v-icon>
                        </v-btn>
                        <v-btn icon @click="createRoomDialog = !createRoomDialog">
                            <v-icon>mdi-account-multiple-plus</v-icon>
                        </v-btn>
                    </v-card-actions>

                </v-card>
            </v-col>

            <v-col cols="9">
                <v-card v-if="messages === null" style="height: calc(100vh - 24px)">
                    <v-img contain height="100%" src="/public/media/images/chat.png">
                        <template slot="default" class="d-flex justify-center">
                            <v-card-text>گفتوگویی انتخاب نشده , لطفا یک گفتوگو از نوار سمت راست انتخاب کنید.
                            </v-card-text>
                        </template>
                    </v-img>
                </v-card>
                <v-card v-else class="chatBox" height="calc(100vh - 24px)" elevation="0" style="overflow:hidden;">
                    <v-card height="calc(100vh - 96px)" class="pa-3" outlined rounded style="overflow-y: scroll" id="style-2">

                        <v-toolbar v-if="thread.target_type === 'room'" class="mb-3">
                            <v-app-bar-nav-icon></v-app-bar-nav-icon>
                            <v-btn @click="expandAddToGp = !expandAddToGp" color="primary" class="mx-2">افزودن به گروه
                            </v-btn>
                            <v-expand-x-transition>
                                <v-card v-show="expandAddToGp" width="90%"
                                        class="mx-auto justify-center align-center">
                                    <v-text-field hide-details outlined width="50%" v-model="addGpUserId"
                                                  label="نام کاربری شخص را وارد کنید سپس دکمه + را بزنید تا به اتاق اضافه شود">
                                        <template v-slot:prepend-inner>
                                            <v-icon class="clickable" @click="addUsertoGP">mdi-plus</v-icon>
                                        </template>
                                    </v-text-field>
                                </v-card>
                            </v-expand-x-transition>

                            <v-spacer></v-spacer>
                            <v-btn icon>
                                <v-icon>mdi-export</v-icon>
                            </v-btn>
                        </v-toolbar>
                        <div class="customWidth" v-for="(i, k) in messages" :key="k"
                             :class="i.sender_id === $root.user.id ? '' : 'mr-auto'">

                            <v-alert v-if="i.sender_id === $root.user.id" class="overflow-hidden" color="success"
                                     border="left"
                                     elevation="3" colored-border>
                                <v-card-subtitle class="pa-1">{{ i.sender_name }}</v-card-subtitle>
                                {{ i.text }}
                            </v-alert>

                            <v-alert v-else dir="ltr" border="right" class="overflow-hidden mr-auto" color="primary"
                                     elevation="3"
                                     colored-border>
                                <v-card-subtitle class="pa-1">{{ i.sender_name }}</v-card-subtitle>
                                {{ i.text }}
                            </v-alert>

                        </div>
                    </v-card>

                    <v-card-actions class="align-center justify-center">
                        <v-btn icon x-large @click="thread.target_type === 'user' ? sendMessage() : sendGroupMessage()">
                            <v-icon>mdi-send</v-icon>
                        </v-btn>

                        <v-text-field hide-details @keyup.enter="" v-model="message" outlined rounded>
                            <template v-slot:prepend-inner>
                                <v-icon>mdi-attachment</v-icon>
                                <input type="file" accept="*/*" multiple id="attachFile" class="d-none" @change="">
                            </template>
                        </v-text-field>

                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        <v-dialog v-model="createRoomDialog" width="700px">
            <v-card>
                <v-card-title>ساخت اتاق گفتوگو جدید</v-card-title>
                <v-card-subtitle>شما با ساخت اتاق گفتوگو و دعوت دوستانتان به آن میتوانید به صحبت به یک دیگر بپردازید
                </v-card-subtitle>
                <v-card-text>
                    <v-text-field v-model="cRoom.name" rounded label="نام اتاق" outlined :name="Math.random()"/>
                </v-card-text>
                <v-card-actions>
                    <v-btn rounded color="success" class="px-4" @click="createGroup">ساخت اتاق</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>

    export default {
        name: "home",
        data: () => ({
            data: null,
            messages: null,
            threads: null,
            message: null,
            addGpUserId: "",
            thread: {},
            thread_id: 0,
            target_id: null,
            createRoomDialog: false,
            expandAddToGp: false,
            cRoom: {
                name: ''
            },
        }),
        created() {
            this.fetchThreads();
        },
        methods: {
            addUsertoGP() {
                this.requestHTTP('post', '?route=home/add-user-room', {
                    user_name: this.addGpUserId
                }, this.sendGroupMessageSucc, this.sendGroupMessageFail)
            },
            sendGroupMessage() {
                this.requestHTTP('post', '?route=home/send-message-room', {
                    thread_id: this.thread_id,
                    text: this.message,
                }, this.sendGroupMessageSucc, this.sendGroupMessageFail)
            },
            sendGroupMessageFail(res) {
                this.$root.$emit('error', res);
            },
            sendGroupMessageSucc(data) {
                this.$root.$emit('success', data.message);
                this.fetchMessages(this.thread)
            },
            createGroup() {
                if (this.cRoom.name.length < 5) {
                    return this.$root.$emit('error', 'نام گروه باید بیشتر از ۵ کاراکتر باشد');
                }
                this.requestHTTP('post', '?route=home/create-room', {
                    name: this.cRoom.name,
                }, this.createGroupSucc, this.createGroupFail)
            },
            createGroupFail(res) {
                this.$root.$emit('error', res);
            },
            createGroupSucc(data) {
                this.$root.$emit('success', "گروه با موفقیت ساخته شد");
                this.createRoomDialog = false;
                this.cRoom.name = "";
                this.fetchThreads();
            },
            sendMessage() {
                this.requestHTTP('post', '?route=home/send-message', {
                    thread_id: this.thread_id,
                    sender_id: Number(this.$root.user.id),
                    sender_name: this.$root.user.username,
                    user_id: Number(this.target_id),
                    text: this.message,
                }, this.sendMessagesSucc, this.sendMessagesFail)
            },
            sendMessagesSucc() {
                this.fetchMessages(this.thread_id);
                this.message = '';
                this.$root.$emit('success', 'پیام ارسال شد');

            },
            sendMessagesFail() {
                this.$root.$emit('failed', 'پیام ارسال نشد');

            },
            fetchMessages(thread) {
                if (this.thread_id === thread) return false;
                this.thread = thread;
                this.thread_id = thread.id;
                this.requestHTTP('post', '?route=home/messages', {
                    thread_id: this.thread_id
                }, this.fetchMessagesSucc, this.fetchMessagesFail)
            },
            fetchMessagesSucc(data) {
                this.messages = data
                if (this.target_id === null) {
                    for (let i = 0; this.messages.length; i++) {
                        console.log(this.messages[i].sender_id)
                        if (this.messages[i].sender_id !== this.$root.user.id) {
                            this.target_id = this.messages[i].sender_id;
                            break;
                        }
                    }
                }
            },
            fetchMessagesFail(response) {

            },
            fetchThreads() {
                this.requestHTTP('post', '?route=home/threads', {}, this.fetchThreadsSucc, this.fetchThreadsFail)
            },
            fetchThreadsSucc(data) {
                this.threads = data
            },
            fetchThreadsFail(response) {

            }
        }
    }
</script>

<style scoped>

    #style-2::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #D62929;
    }

    .customWidth {
        word-break: break-word;
        max-width: 100%;
        width: fit-content;
    }

    .chatBox {
        max-width: 100%;
        overflow-y: scroll;
    }

    .v-image >>> .v-responsive__content {
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;
    }

    .v-image >>> .v-responsive__content * {
        height: fit-content;
        text-align: center;
        padding-bottom: 20vh;
    }
</style>