<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>
export default {
  name: "index",
  data: () => ({
    test: null
  }),
  created() {
    this.$root.createRoom = false;
    this.$vuetify.theme.dark = (localStorage.theme || 'light') !== 'light';
    this.preparingRouteGuard()
    this.userChange();
    this.$root.$on('success', this.success);
    this.$root.$on('error', this.error);
    this.$root.$on('userChange', this.userChange);
  },
  methods: {
    userChange() {
      let user = localStorage.user;
      if (user === undefined || user === null || user === '') {
        this.user = null;
        this.$root.user = null;
        this.$forceUpdate();
        this.goReplace('login');
      } else {
        this.user = JSON.parse(user);
        this.$root.user = this.user[0];
      }
    },
    success(message) {
      this.$notify({
        message: message,
        type: "success",
        top: true,
        bottom: false,
        left: true,
        right: false,
        showClose: true,
        closeDelay: 4500
      });
    },
    error(message) {
      if (message === 'The given data was invalid.')
        message = 'اطلاعات وارد شده معتبر نمیباشد'
      this.$notify({
        message: message,
        type: "error",
        top: true,
        bottom: false,
        left: true,
        right: false,
        showClose: true,
        closeDelay: 4500
      });
    },
  }
}
</script>

<style scoped>
</style>
