<template>
  <v-container fluid>
    <v-row flex justify="center" align="center">
      <v-col cols="12" sm="4">
        <v-card>
          <v-card-title>ورود به بزن قدش !</v-card-title>
          <v-card-text class="d-flex justify-center align-center">
            <v-img width="100%" src="/public/media/images/highfive-logo.png"/>
          </v-card-text>
          <v-card-text>
            <v-text-field v-model="object.username" rounded outlined label="نام کاربری"/>
            <v-text-field v-model="object.password" type="password" rounded outlined label="کلمه عبور"/>
            <v-card-actions>
              <v-btn color="success" @click="login">ورود</v-btn>
            </v-card-actions>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "login", data: () => ({
    object: {
      username: '',
      password: ''
    }
  }),
  methods: {
    login() {
      axios.post('?route=authenticate/register', this.object)
          .then(({data}) => {
            console.log(data)
            localStorage.user = JSON.stringify(data.user);
            localStorage.metoken = data.token;
            this.$root.$emit('userChange', data.user);
            this.$root.$emit('success', data.message);
            this.goto('');
          })
          .catch(({response}) => {
            this.$root.$emit('error', response.message);
          })
          .finally(() => {
          });
    },
  }
}
</script>

<style scoped>

</style>